@media only screen and (max-width:1000px){

.nav-menu-btn {
    display: initial;
}
#about .top-header h1 {
    display: none;
}
.featured-text{
    padding-top: 0vh;
}
.nav-menu .nav-menu-list{
    position: absolute;
    top: 100%;
    width: 100%;
    align-items: center;
    left: -100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    backdrop-filter:  blur(10px);
    padding-block: 30px;
    transition: 0.3s ease-in-out;
}

.nav-menu .active{
    left: 0;
}
.contact-info>p {
    font-size: 1.5vw;
}
.contact{
    padding-inline: 7vw;
}
.contact-info>h2 {
    margin-bottom: 10px;
}
}
@media only screen and (max-width:800px){
    .projects-box{
    width: 100%;
    height: 35vh;
    }
    #about-container{
        display: flex;
        flex-direction: column;
    }
    .contact .row{
        width: 100%;
    }
    #about-container .col{
        width: 100%;
    }
    .row #contact-col-1{
        display: none;
    }
    .row #contact-col-2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width:675px){

    .featured-image{
        display: none;
    }
    .featured-box .featured-text{
        width: 100%;
        gap: 5vh;
        margin-top: 5vh;
    }
    .featured-text-info{
        width: 90%;
        font-size: 2.5vh;
    }
    .form-control{
       width: 100%;
    }
    .form-inputs{
        flex-direction: column;
    }
    .form-inputs input{
        width: 100%;
    }
}

@media only screen and (max-width:450px){

    .nav-name {
        font-size: 3.5vh;
    }
    .nav-menu-btn i {
        font-size: 2.5vh;
    }
    .featured-name {
        font-size: 3.5vh;
    }
    .featured-text-info p {
        font-size: 2vh;
    }
    .featured-text-info {
        width: 90%;
    }
    .top-header h1{
        font-weight: 600;
        padding-top: 8vh;
        color: var(--text-color-second);
    }
    .about{
        padding-top: 5vh;
    }

    .footer {
        height: 28vh;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 5vh;
    }
    .middle-footer{
        display: none;
     }
    .bottom-footer {
        font-size: 13px;
    }
    .footer-munu-list a{
        font-size: 15px;
    }
    textarea{
        height:25vh;
    }
}

@media only screen and (max-width:375px){
    .wraper{
        height: 75vh;
    }
    .featured-name {
        font-size: 6vh;
    }
    .featured-text{
        gap: 1vh;
    }
    .nav-name {
        font-size: 4vh;
    }
    .nav-menu-btn i {
        font-size: 4vh;
    }
    .top-header h1 {
        display: none;
    }
    .footer {
        height: 39vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        row-gap: 0px;
        margin-top: 0vh;
    }
    .bottom-footer {
        font-size: 13px;
    }
}
